<h1>Thank you for your RSVP</h1>

{{#if attending}}
<h1>We can't wait to have you celebrate with us!</h1>
{{else}}
<h1>We're sorry you are unable to join us.</h1>
{{/if}}

{{#if redirectedFromRoot}}
<a href="/edit">Edit RSVP</a>
{{/if}}