{{#if edited}}
<h1>You have edited your RSVP</h1>
{{else}}
<h1>Thank you for your RSVP</h1>
{{/if}}

{{#if attending}}
<p>We can't wait to have you celebrate with us!</p>
{{else}}
<p>We're sorry you are unable to join us.</p>
{{/if}}

{{#if redirectedFromRoot}}
<a href="/edit">Edit RSVP</a>
{{/if}}