
/* import a couple google fonts */
@import url('https://fonts.googleapis.com/css?family=Staatliches|Thasadith:400,700');

/* NOTE if submit by return (aka ENTER key) does not work, swap commenting of following lines */
input[type="submit"] {
    display: none;
}

input[name="rsvp_going"] {
    /* display: block; */
    display: unset;
}

body {
    text-align: center;
}

h1 {
    font-family: 'Staatliches', sans-serif;
    font-size: 75px;
}

.error h1 {
    font-family: 'Staatliches', sans-serif;
    font-size: 36px;
    color: #980000;
}

p, option, input[type='submit'] {
    font-family: 'Thasadith', sans-serif;
}

p {
    font-size: 36px;
}

input[type="text"], input[name="rsvp_going"], select {
    max-height: 125px;
    height: 50px;
    width: 400px;
    max-width: 450px;
    border: black 2px solid;
    background: #E8E8E8;
    font-size: 2rem;
    text-align: center;
    font-family: 'Thasadith', sans-serif;
}

input[name="rsvp_going"] {
    width: 100px;
    max-width: 125px;
    cursor: pointer;
}

input[name="rsvp_going"]:hover, input[name="rsvp_going"]:focus {
    background: #c05151;
}

select {
    width: 100px;
    max-width: 125px;
}