
@import url('https://fonts.googleapis.com/css?family=Staatliches|Thasadith:400,700');

/* NOTE if submit by return (aka ENTER key) does not work, swap commenting of following lines */
input[type="submit"] {
    cursor: pointer;
    display: none;
}

input[name="rsvp_going"] {
    /* display: block; */
    display: unset;
}

body {
    text-align: center;
}

h1 {
    font-family: 'Staatliches', sans-serif;
    font-size: 5rem;
}

h3 {
    font-family: 'Staatliches', sans-serif;
    font-size: 2rem;
}

.error h1 {
    font-family: 'Staatliches', sans-serif;
    font-size: 2rem;
    color: #980000;
}

p, option, input[type='submit'] {
    font-family: 'Thasadith', sans-serif;
}

p {
    font-size: 1.75rem;
}

input, select {
    max-height: 125px;
    height: 50px;
    min-width: 100px;
    max-width: max-content;
    border: black 2px solid;
    background: #E8E8E8;
    font-size: 2rem;
    text-align: center;
    font-family: 'Thasadith', sans-serif;
}

input[name="rsvp_going"] {
    cursor: pointer;
}

input:hover, input:focus, input.clicked:hover, input.clicked:focus {
    background: #c05151;
}

input[type="text"]:hover, input[type="text"]:focus, input[type="password"]:hover, input[type="password"]:focus {
    background: #E8E8E8;
}

select {
    min-width: 60px;
    max-width: 125px;
}

input[name="rsvp_going"].clicked {
    background-color: #980000;
}

select[disabled='true'] {
    background: whitesmoke;
    color: #E8E8E8;
}